// ---------------------------------------------------------------------------
// Imports
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100);
@import "compass";
@import "base";

/* -------------------------------------------------------------------------*/
/* Layout */
$four:901px 4;
$three:601px 3 900px;
$two:451px 2 600px;
$one:1 450px;

* {font-family: Roboto Slab;}

.container {
  @include container;
  
  @include at-breakpoint($one) {
    @include container;
	}
  @include at-breakpoint($two) {
    @include container;
	}
  @include at-breakpoint($three) {
    @include container;
	}
  @include at-breakpoint($four) {
    @include container;
	}	
}	

.icon{
	text-align: center;
	img {
		display:block;
  		margin: 0 auto;
		padding-top: 50px;
	}
	h1{padding-bottom: 50px;
		font-weight: 100;}
  @include at-breakpoint($one) {
    @include span-columns(1);
	}
  @include at-breakpoint($two) {
    @include span-columns(2);
	}
  @include at-breakpoint($three) {
    @include span-columns(3);
	}
  @include at-breakpoint($four) {
    @include span-columns(4);
	}

	
}
.poles {
  @include transition(all 1s);
  @include at-breakpoint($one) {
    @include isolate-grid(1);
    height:200px;
	}
  @include at-breakpoint($two) {
    @include isolate-grid(1);
    height:125px;
	}
  @include at-breakpoint($three) {
    @include isolate-grid(1);
    height:125px;
	}
  @include at-breakpoint($four) {
    @include isolate-grid(1);
    height:150px;
	}
}
 footer {
	clear: both;
	padding-top: 50px;
	text-align: center;
  @include at-breakpoint($one) {
    @include span-columns(1);
	}
  @include at-breakpoint($two) {
    @include span-columns(2);
	}
  @include at-breakpoint($three) {
    @include span-columns(3);
	}
  @include at-breakpoint($four) {
    @include span-columns(4);
	}	
}
// @for $i from 1 through 12 {
// 	.img#{$i}{background-image: url("../images/totem-poles-"+ $i + ".png");
// }
// }
.img{height: 100%;}

@include at-breakpoint($one) {
   	.img2{margin-left: -38px;}
	.img7{margin-left: -130px; z-index:999;}
	.img10{margin-left: -38px;}
	}
@include at-breakpoint($two) {
    .img2{margin-left: -23px;}
	.img7{margin-left: -80px;}
	.img10{margin-left: -23px;}
	}
@include at-breakpoint($three) {
    .img2{margin-left: -23px;}
	.img7{margin-left: -80px;}
	.img10{margin-left: -23px;}
	}
@include at-breakpoint($four) {
    .img2{margin-left: -27px;}
	.img7{margin-left: -95px; z-index:999;}
	.img10{margin-left: -27px;}
	}

