@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100);
/* line 14, ../../../tool/fire.app/lib/ruby/compass_extensions/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 14, ../sass/screen.scss */
* {
  font-family: Roboto Slab;
}

/* line 16, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 1180px;
  _width: 1180px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../tool/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 901px) {
  /* line 16, ../sass/screen.scss */
  .container {
    max-width: 1180px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../tool/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  /* line 16, ../sass/screen.scss */
  .container {
    max-width: 880px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../tool/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 451px) and (max-width: 600px) {
  /* line 16, ../sass/screen.scss */
  .container {
    max-width: 580px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../tool/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (max-width: 450px) {
  /* line 16, ../sass/screen.scss */
  .container {
    max-width: 280px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../tool/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* line 36, ../sass/screen.scss */
.icon {
  text-align: center;
}
/* line 38, ../sass/screen.scss */
.icon img {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}
/* line 43, ../sass/screen.scss */
.icon h1 {
  padding-bottom: 50px;
  font-weight: 100;
}
@media (max-width: 450px) {
  /* line 36, ../sass/screen.scss */
  .icon {
    width: 100%;
    float: left;
    margin-right: 50%;
  }
}
@media (min-width: 451px) and (max-width: 600px) {
  /* line 36, ../sass/screen.scss */
  .icon {
    width: 100%;
    float: left;
    margin-right: 20%;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  /* line 36, ../sass/screen.scss */
  .icon {
    width: 100%;
    float: left;
    margin-right: 12.5%;
  }
}
@media (min-width: 901px) {
  /* line 36, ../sass/screen.scss */
  .icon {
    width: 100%;
    float: left;
    margin-right: 9.09091%;
  }
}

/* line 60, ../sass/screen.scss */
.poles {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
@media (max-width: 450px) {
  /* line 60, ../sass/screen.scss */
  .poles {
    width: 100%;
    float: left;
    margin-right: 50%;
    margin-right: -100%;
    height: 200px;
  }
  /* line 42, ../../../tool/fire.app/lib/ruby/compass_extensions/susy-1.0.9/sass/susy/_isolation.scss */
  .poles:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left;
  }
}
@media (min-width: 451px) and (max-width: 600px) {
  /* line 60, ../sass/screen.scss */
  .poles {
    width: 100%;
    float: left;
    margin-right: 20%;
    margin-right: -100%;
    height: 125px;
  }
  /* line 42, ../../../tool/fire.app/lib/ruby/compass_extensions/susy-1.0.9/sass/susy/_isolation.scss */
  .poles:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  /* line 60, ../sass/screen.scss */
  .poles {
    width: 100%;
    float: left;
    margin-right: 12.5%;
    margin-right: -100%;
    height: 125px;
  }
  /* line 42, ../../../tool/fire.app/lib/ruby/compass_extensions/susy-1.0.9/sass/susy/_isolation.scss */
  .poles:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left;
  }
}
@media (min-width: 901px) {
  /* line 60, ../sass/screen.scss */
  .poles {
    width: 100%;
    float: left;
    margin-right: 9.09091%;
    margin-right: -100%;
    height: 150px;
  }
  /* line 42, ../../../tool/fire.app/lib/ruby/compass_extensions/susy-1.0.9/sass/susy/_isolation.scss */
  .poles:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left;
  }
}

/* line 79, ../sass/screen.scss */
footer {
  clear: both;
  padding-top: 50px;
  text-align: center;
}
@media (max-width: 450px) {
  /* line 79, ../sass/screen.scss */
  footer {
    width: 100%;
    float: left;
    margin-right: 50%;
  }
}
@media (min-width: 451px) and (max-width: 600px) {
  /* line 79, ../sass/screen.scss */
  footer {
    width: 100%;
    float: left;
    margin-right: 20%;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  /* line 79, ../sass/screen.scss */
  footer {
    width: 100%;
    float: left;
    margin-right: 12.5%;
  }
}
@media (min-width: 901px) {
  /* line 79, ../sass/screen.scss */
  footer {
    width: 100%;
    float: left;
    margin-right: 9.09091%;
  }
}

/* line 100, ../sass/screen.scss */
.img {
  height: 100%;
}

@media (max-width: 450px) {
  /* line 103, ../sass/screen.scss */
  .img2 {
    margin-left: -38px;
  }

  /* line 104, ../sass/screen.scss */
  .img7 {
    margin-left: -130px;
    z-index: 999;
  }

  /* line 105, ../sass/screen.scss */
  .img10 {
    margin-left: -38px;
  }
}
@media (min-width: 451px) and (max-width: 600px) {
  /* line 108, ../sass/screen.scss */
  .img2 {
    margin-left: -23px;
  }

  /* line 109, ../sass/screen.scss */
  .img7 {
    margin-left: -80px;
  }

  /* line 110, ../sass/screen.scss */
  .img10 {
    margin-left: -23px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  /* line 113, ../sass/screen.scss */
  .img2 {
    margin-left: -23px;
  }

  /* line 114, ../sass/screen.scss */
  .img7 {
    margin-left: -80px;
  }

  /* line 115, ../sass/screen.scss */
  .img10 {
    margin-left: -23px;
  }
}
@media (min-width: 901px) {
  /* line 118, ../sass/screen.scss */
  .img2 {
    margin-left: -27px;
  }

  /* line 119, ../sass/screen.scss */
  .img7 {
    margin-left: -95px;
    z-index: 999;
  }

  /* line 120, ../sass/screen.scss */
  .img10 {
    margin-left: -27px;
  }
}
